__pycache__/
.env
.git/
.gitignore
.idea/
.local/
.venv/
.vscode/
*.bak
*.db
*.dump
*.egg
*.egg-info/
*.log
*.psql
*.pyc
*.pyd
*.pyo
*.sql
*.sqlite3
*.swo
*.swp
data/
env.bak/
env/
ENV/
pgadmin/
venv.bak/
venv/
